{% extends "base.html" %}

{% block content %}
    <div class="container mx-auto max-w-md p-4">
        <form method="post" class=" mx-auto">
            {% csrf_token %}
            <div class="bg-white shadow overflow-hidden sm:rounded-lg p-4">
                <h1 class="text-2xl font-semibold mb-4">Сменить пароль</h1>
                <div class="mb-5">
                    <label for="{{ form.old_password.auto_id }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.old_password.label }}</label>
                    <input type="password" id="{{ form.old_password.auto_id }}" name="{{ form.old_password.name }}"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                           required/>
                </div>
                <div class="mb-5">
                    <label for="{{ form.new_password1.auto_id }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.new_password1.label }}</label>
                    <input type="password" id="{{ form.new_password1.auto_id }}" name="{{ form.new_password1.name }}"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                           required/>
                    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Пароль не должен быть слишком похож на другую вашу личную информацию.</p>
                    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Ваш пароль должен содержать как минимум 8 символов.</p>
                    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Пароль не должен быть слишком простым и распространенным.</p>
                    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Пароль не может состоять только из цифр.</p>
                </div>
                <div class="mb-5">
                    <label for="{{ form.new_password2.auto_id }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.new_password2.label }}</label>
                    <input type="password" id="{{ form.new_password2.auto_id }}" name="{{ form.new_password2.name }}"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                           required/>
                </div>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded mt-4">Сохранить</button>

            </div>
        </form>
    </div>
{% endblock %}